In [1]:
#from the string"python programming":extract"python"extract"programming"
text = "python programming"
a,b = text.split()
print(a) 
print(b)

python
programming

In [13]:
#write slicing expression to:
#print first 5 char and print last 4 char
text = "python programming"
print (text[0:5])
print (text[-4:])

pytho
ming

In [14]:
#reverse the string "hello world"using slicing
text="hello world"
print(text[::-1])

dlrow olleh

In [15]:
#print every second char of the string"technology"
text = "technology"
print(text[::2])

tcnlg

In [19]:
#wap to extract the middle part of a string
text = "shikha "
n = len(text)
middle = text[n // 2]
print("Middle part:", middle)

Middle part: k

In [27]:
#STRING to uppercase
text="hello welcome"
print(text.upper())
#str to lowercase
text="HELLO MAM"
print(text.lower())
#convert "python programming"into title case
text="python programming"
print(text.title())
#remove extra space from both sides of the string python
text="  python  "
print(text.strip())

#remove space from left side and right side
text="comein  "
print(text.rstrip())

text="  good"
print(text.lstrip())

HELLO WELCOME
hello mam
Python Programming
python
comein
good

In [5]:
#find the postion of o in "programming"
text="programming"
print(text.find("o"))
#find how many times a appears in banana
text="banana"
print(text.count("a"))
#replace"c" with "python"in the str "i like c"
text="i like c"
print(text.replace("c","python"))
#split the str "python is easy "into a list
text="python is easy"
print(text.split(","))

#join the list['learn','python','now'] into a str 
words = ['learn', 'python', 'now']
result = " ".join(words)
print(result)

#check whether the str "python 123" is alphanumeric or alphabetic
print("python123".isalnum())#contain both numeric and alphabets so entered str is alphanumeric
 #check whether "12345" contain only digits
print("123".isdigit())
#check a str contain only spaces
print("  ".isspace())
print("abc".isspace)

2
3
i like python
['python is easy']
learn python now
True
True
True
<built-in method isspace of str object at 0x00007FFFB35F5700>

In [21]:
# 4rth lec 28/01/2026
#extract the first 3 elements from a list
my_numbers=[10,20,30,40,50]
print(my_numbers[1:4])

#extract the last 3 elements from a list
numbers=[10,20,30,40,50]
print(numbers[-4:-1])
#extract all element except the first one
numbers=[10,20,30,40,50]
print(numbers[1:5])
# extract all elements except the last one 
numbers=[10,20,30,40,50]
print(numbers[-5:-1])

[20, 30, 40]
[20, 30, 40]
[20, 30, 40, 50]
[10, 20, 30, 40]

In [28]:
#extract elements at even indexes
num = (10, 20, 30, 40, 50)
print(num[1:5:2])

# extract elements at odd index
num = (10, 20, 30, 40, 50)
print(num[0:5:2])

# reverse a list using slicing
numbers=[10,20,30,40,50] 
print(numbers[::-1])

#copy a list using slicing
list = [10, 20, 30, 40, 50]
copy_list = list[:]
print(copy_list)

(20, 40)
(10, 30, 50)
[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [35]:
#create one variable of each data type
# Int
a = 10
# Float
b = 3.14
# Str
c = "Hello"
# Bool
d = True
# List
e = [1, 2, 3]
# Tuple
f = (4, 5, 6)
# Set
g = {7, 8, 9}
# Dictionary
h = {"name": "Alex", "age": 20}
# NoneType
i = None 

#print value and its type
marks=95
print(marks)
print(type(marks))

marks=95.5
print(marks)
print(type(marks))

is_pass=True
print(type(is_pass))

#take age from user and print its type'
age = input("Enter your age: ")
print(type(age))


# conert user input into integer and add 5
num = int(input("Enter a number: "))
result = num + 5
print("Result:", result)

95
<class 'int'>
95.5
<class 'float'>
<class 'bool'>

Enter your age:  22

<class 'str'>

Enter a number:  3

Result: 8

In [11]:
#create a list of 5 sub..
li=["a","b","c","d","e"]
print(li)
#print the first and last element in a list

my_list = [10, 20, 30, 40, 50]
print(my_list[0])   
print(my_list[-1])   

#change the third element of list
li=["apple","banana","mango"]
li[2]="litchi"
print(li)

#find the length of list
values=[10,20,30,40,60,70]
print(len(values))

#check whether "python "is exist in a list
languages=["c","c++","python"]
print("python"in languages)

['a', 'b', 'c', 'd', 'e']
10
50
['apple', 'banana', 'litchi']
6
True

In [10]:
#5th lec:29/01/26
#create a list of 6 fruits and print ist element
fruits=["apple","banana","mango","litchi","orange","kiwi"]
print(fruits[0])

apple

In [11]:
#print last element using neg indexing
list=['1','2','3']
print(list[-1])

3

In [12]:
#print the 3rd element of list
list=['1','2','3','4','5']
print(list[2])

3

In [13]:
#access the second element of list
list=['1','2','3']
print(list[1])

2

In [14]:
#give a list marks =[45,67,89,90,56]print the element at index 3
marks=[45,67,89,90,56]
print(marks[2])

89

In [22]:
#basic methods
#create a empty list and add 5 elements using append()
li = []
li.append(10)
li.append(20)
li.append(39)
li.append(40)
li.append(50)
print(li)

[10, 20, 39, 40, 50]

In [23]:
#add multiple elements at the end using extend()
li = []
li.extend([10, 20, 30, 40, 50])
print(li)

[10, 20, 30, 40, 50]

In [34]:
#insert 100 at index 2
li = [10,20,30]
li.insert(1,'100')
print(li)

[10, '100', 20, 30]

In [32]:
#remove an elements using remove()'
num=[10,20,30,40]
num.remove(30)
print(num)

[10, 20, 40]

In [33]:
#delete the last element using pop()
li = [10, 20, 30, 40]
li.pop()
print(li)

[10, 20, 30]

In [54]:
#list slicing
#create a list of num from 1 to 10 and print
#first 5 elements
#last 3 elements
li=[1,2,3,4,5,6,7,8,9,10]

print("First 5 elements:", li[:5])   #starting 5 elements
print("Last 3 elements:", li[-3:])    #last 3 elements
print(li)

#print elements from index 2 to 6
li=[1,2,3,4,5,6,7,8,9]
print("elements from 2 to 6",li[1:7])



#print all elements except the first and last
li=[1,2,3,4,5,6,7,8,9]
print("print all element except first and last",li[1:8])


#print alternate element of a list
li=[1,2,3,4,5,6,7,8,9,10]
print(li[0:9:2])
print (li)

First 5 elements: [1, 2, 3, 4, 5]
Last 3 elements: [8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
elements from 2 to 6 [2, 3, 4, 5, 6, 7]
print all element except first and last [2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [55]:
#print the list from index 3 till the end 
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Elements from index 3 till the end:", li[3:])

Elements from index 3 till the end: [4, 5, 6, 7, 8, 9, 10]

In [56]:
#reverse a list using slicing
li=[1,2,3,4,5,6,7,8,9,10]
print(li[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [79]:
#searching and counting
#Count how many times 5 appears in a list
a=[10,20,5,40,30,5,57,48,5,48]
print(a.count(5))

#Find the index of element 30.
num=(10,20,10,10,30,40,40,50)
print(num.index(30))

#Check whether "Python" exists in a list.
lang=("python","c++","java")
print("python" in lang)

#Sorting & Copying
#Sort a list in ascending order.
num=[29,50,67,30,47]
num.sort()
print(num)

#Sort a list in descending order.
nums=[20,40,50,69,79]
nums.sort(reverse=True)
print(nums)


#Reverse a list using a method
nums=[20,40,50,69,79]
nums.reverse()
print(nums)

#Copy one list into another list
a=[1,2,3,4,5,6,7]
b=a
print(a)
print(b)

3
4
True
[29, 30, 47, 50, 67]
[79, 69, 50, 40, 20]
[79, 69, 50, 40, 20]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [85]:
#clearing and length
#remove all elements from a list
# create a list
list = [1, 2, 3, 4, 5]
list.clear()
print(list)

#find the length of list
users=(10,20,20,40,50)
print(len(users)) 

#create a list check it is empty
list = []
if  list:
    print("The list is not empty")
else:
    print("The list empty")


list = [1,2,3,4]
if  list:
    print("The list is not empty")
else:
    print("The list empty")

[]
5
The list empty
The list is not empty

In [88]:
#mixed 
#create a list of student name and print:first 2 student:remove last student
# Step 1: Create a list of student names
stu = ["shikha", "ishika", "neha", "kalu"]
print("1st 2 stu:", stu[:2])
stu.pop()
print(" remove last stu:", stu)

1st 2 stu: ['shikha', 'ishika']
 remove last stu: ['shikha', 'ishika', 'neha']

In [91]:
#create a list of number and :add a new number'sort the list and reverse list
# Step 1: Create a list of numbers
numbers = [5, 2, 9, 1, 7]
numbers.append(4) 
print("adding a number", numbers)
numbers.sort() 
print("sorting", numbers)
numbers.reverse()  
print("reverse",numbers)

adding a number [5, 2, 9, 1, 7, 4]
sorting [1, 2, 4, 5, 7, 9]
reverse [9, 7, 5, 4, 2, 1]

In [2]:
#create a list and convert it into a tuple
li=["apple","litchi"]
print(tuple[li])

tuple[['apple', 'litchi']]

In [3]:
#create a list with duplicate values and remove duplicate values
li=["apple","litchi","apple"]
unique_list = list(set(li))
print(unique_list)

['litchi', 'apple']

In [5]:
#find the minimum and maximum values from a list
li=[1,2,3,4,5,7,8,9,10]
print("minimum values of a list",min(li) )
print("maximum values of a list",max(li))

minimum values of a list 1
maximum values of a list 10

In [16]:
#tuple indexing
#t=(10,20,30,40,50,60)
#1 print the first element of tuple
#print the last element using neg indexing
#print the 3rd element of a tuple
#print the 2nnd element of tuple
#create the tuple of 5 fruits and print the middle element
#access elemeent 50 using indexing
#what is the index number of 40 in the tupl3

In [13]:
t=(10,20,30,40,50,60)
print(t[0])
print(t[-1])
print(t[2])
print(t[1])

10
60
30
20

In [15]:
#create the tuple of 5 fruits and print the middle element
t=("apple","lichi","kiwi","grapes","orange")
print(t[2])

kiwi

In [18]:
#access elemeent 50 using indexing
tuple=(10,20,30,40,50)
print(tuple[4])

50

In [22]:
#what is the index number of 40 in the tupl3
tuple=(10,20,30,40,50)
print(tuple.index(40))

3

In [38]:
#print the first 5 element using slicing
#print the last 4 elements using slicing
#print elelmenst from index 2 to 6
#print all the elements except first and last
#print alternate element of tuple
#reverse the tuple using slicing
nums=(1,2,3,4,5,6,7,8,9,10)
print(nums[0:5])
print(nums[-5:-1])
print(nums[1:6])
print(nums[1:9])
print(nums[::2])


num=[1,2,3,4,5,6,7,8,9,10]
num.sort(reverse=True)
print(num)

(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6, 7, 8, 9)
(1, 3, 5, 7, 9)
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
#slice the tuple from 4 to end
t=(1,2,3,4,5,6,7,8,9,10)
print(t[4:])

#extract(3,4,5 ) from tuple
t=(1,2,3,4,5,6,7,8,9,10)
print(t[2:5])

(5, 6, 7, 8, 9, 10)
(3, 4, 5)

In [49]:
#tuple method
#t=(10,20,30,20,40,20)
#count how many times 20 appears in tuple
#find the index of 30
#find the index of 20(first occurance)
#wap to check whether  50 exist in tuple
#find the length of tuple

t=(10,20,30,20,40,20)
print(t.count(20))
print(t.index(30))
print(t.index(20))
if 50 in t:
    print("50 exists in the tuple")
else:
    print("50 does not exist in the tuple")
print(len(t))

3
2
1
50 does not exist in the tuple
6

In [56]:
#immutability & conceptual questons:
#1.why tupple called immutable?
#ans: Tuple are immutable because when we entered the elements than these values are not changed so that is why tuple are called as immutable.
#Tuples are immutable because once they are created, their elements cannot be changed, added, or removed.
#2.can we change the elements of tuple?
# ans:no  because one they are created their elements cannot be changed.
#5.difference between list and tuple.
#1. list is mutable and tupple is not mutable.
#2.in list once they are cretaed these elements should be changed but in tuple once they are created these values cannot be changed
#3.we can convert the tuple into list and also list back convert into tuple
#4.in list we can add after creted a list but in tuple it cannot be add any elemeents after creating.

[1, 20, 3, 4]
type[[1, 20, 3, 4]]
[1, 20, 3, 4]

In [1]:
#create a set of 5 int
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [2]:
#create a set with duplicate values and print it
s={1,2,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [3]:
#create an empty set
s={}
print(s)

{}

In [4]:
#create a set from a list
list = [1, 2, 2, 3, 4, 4, 5]
set = set(list)

print(set)

{1, 2, 3, 4, 5}

In [5]:
#check the type of set
s={1,2,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
#add one element to a set
s = {1, 2, 3}
s.add(4)

print(s)

{1, 2, 3, 4}

In [10]:
#add multiple elements in set
s = {1, 2, 3}
s.update([4,4,5,6])
print(s)

{1, 2, 3, 4, 5, 6}

In [11]:
#remove an eleement from a set using remove()
s = {1, 2, 3}
s.remove(3)

print(s)

{1, 2}

In [12]:
#remove an element using discard()
s = {1, 2, 3}
s.discard(2)

print(s)

{1, 3}

In [14]:
#clear all elements from a set()
s = {1, 2, 3}
s.clear()

print(s)

set()

In [18]:
#find the union of a and b
a={1,2,3,4}
b={3,4,5,6}
union_set= a|b
print(union_set)

{1, 2, 3, 4, 5, 6}

In [19]:
#find the intersection of a and b
a={1,2,3,4}
b={3,4,5,6}
union_set= a&b
print(union_set)

{3, 4}

In [20]:
#find elements are present in a but not in b
a={1,2,3,4}
b={3,4,5,6}
c=a-b
print(c)

{1, 2}

In [22]:
##find elements are present in b but not in a
a={1,2,3,4}
b={3,4,5,6}
c=b-a
print(c)

{5, 6}

In [23]:
#find the symmetric diff between a and b
a={1,2,3,4}
b={3,4,5,6}
c=a^b
print(c)

{1, 2, 5, 6}

In [25]:
#check whether a is subset of b
a={1,2,3,4}
b={3,4,5,6}
c=a<=b
print(c)
#check whether b isc a superset of a
a={1,2,3,4}
b={3,4,5,6}
c=b>a
print(c)

False
False

In [29]:
#check whether two sets are equal
a={1,2,3,4}
b={3,4,5,6}
c=a==b
print(c)


#check whether two sets are disjoint
a={1,2,3,4}
b={3,4,5,6}
print(a.isdisjoint(b))


#find the length of set
s={1,3,4,5,6}
print(len(s))

False
False
5

In [1]:
#02/02/26
#create a var and store your name in it.print the value
name="shikha"
print(name)

shikha

In [2]:
#create a var age and store age
age=18
print(age)

18

In [3]:
#create a var price and store 99.50 in it .print the value
price=99.50
print(price)

99.5

In [4]:
#create three var a=10 b=20 c=30 and print sum
a=10
b=20
c=30
d=a+b+c
print(d)

60

In [5]:
#create a var is_student and store true in it print the value
is_student=True
print(is_student)

True

In [6]:
#take the users name as input print hello
name = input("Enter your name: ")
print("Hello", name)

4

Enter your name:  shikha

Hello shikha

In [7]:
#take users age as input and print your age
name = input("Enter your age: ")
print(age)

Enter your age:  18

18

In [10]:
##take users city as input and print you live in
city = input("Enter your city: ")
print("You live in", city)

Enter your city:  bilaspur

You live in bilaspur

In [11]:
#take users fav num as input and print
num= input("Enter your fav num: ")
print("my fav num", num)

Enter your fav num:  4

my fav num 4

In [12]:
#type casting
#take a number from user and print its square
number = int(input("Enter a number: "))
print("Square:", number * number)

Enter a number:  22

Square: 484

In [16]:
#take 2 num from users and print their add
number1 = int(input("Enter 1 number: "))
number2 = int(input("Enter 2 number: "))
print("addition", number1 + number2)

Enter 1 number:  2
Enter 2 number:  3

addition 5

In [17]:
#take a num as input,print its type convert it into an integer,and print its type again
num = input("Enter a number: ")
print(type(num))
num = int(num)
print(type(num))

Enter a number:  2

<class 'str'>
<class 'int'>

In [18]:
#take a decimal num from users convert it inti an int,and print it
num = float(input("Enter a decimal number: "))
num_int = int(num)
print(num_int)

Enter a decimal number:  44.6

44

In [20]:
#mixed
#take name and age from the user and print my name is shikha and i am 20 years old
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"My name is {name} and I am {age} years old")

Enter your name:  shikha
Enter your age:  20

My name is shikha and I am 20 years old

In [22]:
#take length and breadth from user and calculate area of rectangle
length = float(input("Enter length: "))
breadth = float(input("Enter breadth: "))
area = length * breadth
print("Area of rectangle:", area)

Enter length:  22
Enter breadth:  34.4

Area of rectangle: 756.8

In [23]:
#take three num from users and calculate their average
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
average = (num1 + num2 + num3) / 3
print("Average:", average)

Enter first number:  22.3
Enter second number:  33.4
Enter third number:  35.6

Average: 30.433333333333337

In [24]:
#concept check
#what will be the output of x="10",y="20" print(x+y)
x="10"
y="20"
print(x+y)

1020

In [25]:
#why will this code given a error ? a=input("enter a num");print(a+5)
a=input("enter a num")
print(a+5)

enter a num 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
#difference between int("10")and float("10"")

In [ ]:
#in which data type does input()always take users input

In [26]:
#bouns mini project
#crete a student info program thar takes name,rollno and marks from user and print them proper
# Student Info Program
name = input("Enter student name: ")
rollno = input("Enter roll number: ")
marks = float(input("Enter marks: "))
print("\n--- Student Information ---")    (#\n for next line)
print("Name     :", name)
print("Roll No. :", rollno)
print("Marks    :", marks)

Enter student name:  shikhu
Enter roll number:  24208
Enter marks:  99

--- Student Information ---
Name     : shikhu
Roll No. : 24208
Marks    : 99.0